In [4]:

import pandas as pd

In [5]:
df = pd.read_csv("/home/franco/Documentos/cursos/Python/python_data_science_big_data/base_datos_2008.csv", nrows = 10000)

In [7]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
9995,2008,1,6,7,2000.0,1955,2121.0,2115,WN,593,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9996,2008,1,6,7,1624.0,1620,1742.0,1740,WN,618,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9997,2008,1,6,7,1946.0,1805,2059.0,1930,WN,646,...,4.0,8.0,0,NaN,0,0.0,0.0,6.0,0.0,83.0
9998,2008,1,6,7,1549.0,1430,1706.0,1550,WN,656,...,3.0,6.0,0,NaN,0,0.0,48.0,0.0,0.0,28.0
9999,2008,1,6,7,1050.0,1050,1211.0,1210,WN,680,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.sample(frac = 1)

In [14]:
#Conocer las columnas

df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [12]:
#Conocer types de las columnas
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [15]:
#crear un arrat con las filas
df.values

array([[2008, 1, 4, ..., nan, nan, nan],
       [2008, 1, 5, ..., nan, nan, nan],
       [2008, 1, 6, ..., nan, nan, nan],
       ...,
       [2008, 1, 4, ..., nan, nan, nan],
       [2008, 1, 4, ..., 4.0, 0.0, 11.0],
       [2008, 1, 6, ..., 0.0, 0.0, 20.0]], dtype=object)

In [16]:
#df con las 10 primeras filas 

df2 = df.head(10)